@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #79b79115;
  color: #333;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0;
  overflow: scroll;
}

.nav{
  background: #79b791;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #def6ca;

} 

.searchbar{
  padding: 10px;
  border-radius: 15px;

  background-color: white;

}

/* Table Header */
.MuiTableHead-root {
  background-color: #79b791; 
  color: #ffffff; 
}

/* Table Header Cells */
.MuiTableCell-head {
  font-weight: 600; 
  padding: 12px 16px; 
  color: white;
}

/* Table Body Rows */
.MuiTableBody-root tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.MuiTableBody-root tr:nth-child(odd) {
  background-color: #ffffff; 
}

/* Table Body Cells */
.MuiTableCell-body {
  padding: 12px 16px; 
  border-bottom: 1px solid #ddd;
}

/* Hover Effect */
.MuiTableBody-root tr:hover {
  background-color: #f1f1f1; 
}

/* Buttons inside table cells */
.miniAdd, .miniRemove {
  margin-right: 5px; 
  font-size: 0.875rem; 
}

.miniAdd {
  border: 2px solid #C1E1C1;
  color: #333;
  text-transform: capitalize;
}

.miniAdd:hover {
  background-color: #C1E1C1; 
  border: none;
  color: #fff;
}

.miniRemove {
  border: 2px solid #FAA0A0; 
  color: #333;
  text-transform: capitalize;
}

.miniRemove:hover {
  background-color: #FAA0A0; 
  border: none;
  color: #fff;
}

/* Add New Item Button */
.addNew {
  background-color: #79b791;
  text-transform: capitalize;
  padding: 10px;
  width: 250px;
  font-size: 14pt;
  display: block; 
}

.addNew:hover {
  background-color: #66a870; 
}

/* The 4 buttons recipe generation buttons */
.testbar button {
  background-color: #79b791; 
  text-transform: capitalize;
  color: white;
  padding: 6px;
  width: 180px;
  height: 60px;
  font-size: 13pt;
  margin: 10px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
}

.testbar button:hover {
  background-color: #66a870; 
}


/* Styles for Recipe Box */
.recipeBox {
  
  

  
  background-color: #f9f9f9; 
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
  padding-top: 0;
  
  overflow:auto;
  
}

.recipeBox .MuiOutlinedInput-root {
  background-color: #ffffff; 
  border: 1px solid #ddd; 
  border-radius: 10px;
}

.recipeBox .MuiOutlinedInput-root:hover {
  border-color: #79b791; 
}

.recipeBox .MuiOutlinedInput-root.Mui-focused {
  border-color: #79b791; 
}

